.end__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0;
}

.end__text_wrapper {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.end__text_wrapper h2 {
  font-size: 1.4rem;
  color: var(--text-title);
}

.end__text_wrapper p {
  font-size: 0.825rem;
  color: var(--text-subtitle);
  margin-top: 0.2rem;
}
