.image__container {
  position: relative;
  width: "100%";
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--placeholder-color);
  overflow: hidden;
}

.image {
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
  transition: all 0.7s ease-in-out;
}
