.image__container {
  position: relative;
  width: "100%";
  border-radius: var(--border-radius);
  display: flex;
  transition: all 300ms ease-in-out;
  box-shadow: var(--shadow);
}

.image {
  transition: all 1s ease-in-out;
  border-radius: var(--border-radius);
  width: 100%;
  height: auto;
}
