.profile {
  padding: var(--content-padding-x) var(--content-padding-y);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile__user_section {
  margin: auto 0;
}

.profile__row {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.profile__image {
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--placeholder-color);
}

.profile__user_name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--text-title);
}

.profile__user_username {
  color: var(--text-subtitle);
}

.profile__user_bio {
  color: var(--text-subtitle);
  margin-top: 0.6rem;
  line-height: 1.4rem;
}

.profile__stats {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.profile__stats_item p {
  font-weight: 600;
  font-size: 0.825rem;
}

.profile__stats_item span {
  color: var(--text-subtitle);
  font-weight: 500;
}

.tags_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tags__title {
  font-size: 1rem;
  font-weight: 500;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  padding: 0.4rem 0.6rem;
  text-transform: capitalize;
  font-size: 0.8rem;
  border-radius: 8px;
}
