:root {
  --screen-xs: 30rem; /* 480px */
  --screen-sm: 40rem; /*  640px */
  --screen-md: 48rem; /*  768px */
  --screen-lg: 64rem; /*  1024px */
  --screen-xl: 80rem; /*  1280px */
  --screen-2xl: 90rem; /*  1440px */

  --neutral-50: hsl(210, 40%, 98%);
  --neutral-100: hsl(210, 40%, 96%);
  --neutral-200: hsl(214, 32%, 91%);
  --neutral-300: hsl(213, 27%, 84%);
  --neutral-400: hsl(215, 20%, 65%);
  --neutral-500: hsl(215, 16%, 47%);
  --neutral-600: hsl(215, 19%, 35%);
  --neutral-700: hsl(215, 25%, 27%);
  --neutral-800: hsl(217, 33%, 17%);
  --neutral-900: hsl(222, 47%, 11%);

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);

  --primary-color: hsl(216, 100%, 40%);

  --bg-color: var(--neutral-50);
  --bg-header: hsla(210, 40%, 98%, 0.8);

  --text-title: var(--neutral-900);
  --text-subtitle: var(--neutral-600);

  --border-color: var(--neutral-300);
  --icon-color: var(--neutral-800);

  --placeholder-color: var(--neutral-400);

  --tooltip-bg-color: var(--neutral-900);
  --tooltip-text-color: var(--neutral-50);

  --tab-inactive-text-color: var(--neutral-500);

  --content-padding-x: 1.5rem;
  --content-padding-y: 2rem;
}

:root[data-theme="dark"] {
  --bg-color: var(--neutral-900);
  --bg-header: hsla(222, 47%, 11%, 0.8);

  --text-title: var(--neutral-50);
  --text-subtitle: var(--neutral-300);

  --border-color: var(--neutral-700);
  --icon-color: var(--neutral-100);

  --placeholder-color: var(--neutral-600);

  --tooltip-bg-color: var(--neutral-600);
  --tooltip-text-color: var(--neutral-100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@import url("./utilities.css");
@import url("./layout.css");

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-stats {
  margin-top: 2.3rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}
