:root {
  --screen-xs: 30rem; /* 480px */
  --screen-sm: 40rem; /*  640px */
  --screen-md: 48rem; /*  768px */
  --screen-lg: 64rem; /*  1024px */
  --screen-xl: 80rem; /*  1280px */
  --screen-2xl: 90rem; /*  1440px */

  --neutral-50: hsl(210, 40%, 98%);
  --neutral-100: hsl(210, 40%, 96%);
  --neutral-200: hsl(214, 32%, 91%);
  --neutral-300: hsl(213, 27%, 84%);
  --neutral-400: hsl(215, 20%, 65%);
  --neutral-500: hsl(215, 16%, 47%);
  --neutral-600: hsl(215, 19%, 35%);
  --neutral-700: hsl(215, 25%, 27%);
  --neutral-800: hsl(217, 33%, 17%);
  --neutral-900: hsl(222, 47%, 11%);

  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);

  --bg-color: var(--neutral-50);
  --bg-header: hsla(210, 40%, 98%, 0.8);

  --text-title: var(--neutral-900);
  --text-subtitle: var(--neutral-600);

  --border-color: var(--neutral-300);
  --icon-color: var(var(--neutral-800));
  --tooltip-bg-color: var(--neutral-900);
  --tooltip-text-color: var(--neutral-50);
}

:root[data-theme="dark"] {
  --bg-color: var(--neutral-900);
  --bg-header: hsla(222, 47%, 11%, 0.8);

  --text-title: var(--neutral-50);
  --text-subtitle: var(--neutral-300);

  --border-color: var(--neutral-700);
  --icon-color: var(var(--neutral-100));
  --tooltip-bg-color: var(--neutral-600);
  --tooltip-text-color: var(--neutral-100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@import url("./utilities.css");
@import url("./layout.css");
