.post {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  gap: 0.8rem;
}

.post__header {
  display: flex;
}

.post__content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__footer_right {
  font-size: 0.9rem;
  color: var(--text-subtitle);
}

.post__footer_left {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--text-subtitle);
}
